#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

#define BASE 0
#define SCROLL 1
#define MOUSE 2



/ {
    behaviors {
        // ロータリーエンコーダ等のスクロール用の設定
        scroll_down_up: behavior_sensor_rotate_mouse_wheel_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <20>; // スクロールのタップ時間
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp ESC    &kp N1  &kp N2      &kp N3    &kp N4     &kp N5                                &kp N6    &kp N7    &kp N8    &kp N9     &kp N0   &kp MINUS
&kp TAB    &kp Q   &kp W       &kp E     &kp R      &kp T                                 &kp Y     &kp U     &kp I     &kp O      &kp P    &kp EQUAL
&kp CAPS   &kp A   &kp S       &kp D     &kp F      &kp G      &kp INS         &kp LBKT   &kp H     &kp J     &kp K     &kp L      &kp SEMI &kp SQT
&kp LSHFT  &kp Z   &kp X       &kp C     &kp V      &kp B      &kp GRAVE       &kp RBKT   &kp N     &kp M     &kp COMMA &kp DOT    &kp FSLH &kp BACKSLASH
&mt LALT LANG2     &kp C_MUTE  &kp LWIN  &kp LCTRL  &kp SPACE  &mo SCROLL       &kp RET    &kp BSPC                                          &mt RCTL LANG1
            >;
        };
        Scroll_layer {
            display-name = "Scroll";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp ESC    &kp N1  &kp N2      &kp N3    &kp N4     &kp N5                                &kp N6    &kp N7    &kp N8    &kp N9     &kp N0   &kp MINUS
&kp TAB    &kp Q   &kp W       &kp E     &kp R      &kp T                                 &kp Y     &kp U     &kp I     &kp O      &kp P    &kp EQUAL
&kp CAPS   &kp A   &kp S       &kp D     &kp F      &kp G      &kp INS         &kp LBKT   &kp H     &kp J     &kp K     &kp L      &kp SEMI &kp SQT
&kp LSHFT  &kp Z   &kp X       &kp C     &kp V      &kp B      &kp GRAVE       &kp RBKT   &kp N     &kp M     &kp COMMA &kp DOT    &kp FSLH &kp BACKSLASH
&mt LALT LANG2     &kp C_MUTE  &kp LWIN  &kp LCTRL  &kp SPACE  &kp SPACE       &kp RET    &kp BSPC                                          &mt RCTL LANG1
            >;
        };
        mouse_layer {
            display-name = "Mouse";
            sensor-bindings = <&scroll_down_up>;
            bindings = <
&kp ESC    &kp N1  &kp N2      &kp N3    &kp N4     &kp N5                                &kp N6    &kp N7    &kp N8    &kp N9     &kp N0   &kp MINUS
&kp TAB    &kp Q   &kp W       &kp E     &kp R      &kp T                                 &kp Y     &kp U     &kp I     &kp O      &kp P    &kp EQUAL
&kp CAPS   &kp A   &kp S       &kp D     &kp F      &kp G      &kp INS         &kp LBKT   &kp H     &kp J     &kp K     &kp L      &kp SEMI &kp SQT
&kp LSHFT  &kp Z   &kp X       &kp C     &kp V      &kp B      &kp GRAVE       &kp RBKT   &kp N     &kp M     &kp COMMA &kp DOT    &kp FSLH &kp BACKSLASH
&mt LALT LANG2     &kp C_MUTE  &kp LWIN  &kp LCTRL  &kp SPACE  &kp SPACE       &kp RET    &kp BSPC                                          &mt RCTL LANG1
            >;
        };
    };
};
