if SHIELD_ZARUBALL_LEFT

config ZMK_KEYBOARD_NAME
    default "ZaruBall"

# 左手は親機（Central）になる
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_ZARUBALL_RIGHT

config ZMK_KEYBOARD_NAME
    default "ZaruBall"

# 右手は親機ではなく、子機（Peripheral）になる！
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default n

endif
